<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a asp-area="Admins" asp-controller="AdminHome" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home green"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <li>
            <a asp-area="Admins" asp-controller="AdminHome" asp-action="ShowAllUsers">
                <i class="menu-icon glyphicon glyphicon-user colored-orange"></i>
                <span class="menu-text"> مدیریت کاربران </span>
            </a>
        </li>
        <li>
            <a asp-area="Admins" asp-controller="Role" asp-action="ShowPermissions">
                <i class="menu-icon glyphicon glyphicon-king purple"></i>
                <span class="menu-text"> مدیریت دسترسی ها </span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-folder-open-o blue "></i>
                <span class="menu-text">وبلاگ نویسی </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-area="Articles" asp-controller="Article" asp-action="Index" class="menu-dropdown">
                        <span class="menu-text">
                            مقالات
                        </span>
                    </a>
                </li>
                <li>
                    <a asp-area="Articles" asp-controller="ArticleGroup" asp-action="Index" class="menu-dropdown">
                        <span class="menu-text">
                            گروه مقالات
                        </span>
                    </a>
                </li>
            </ul>
        <li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-folder-open-o blue "></i>
                <span class="menu-text">دوره ها</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a asp-area="Courses" asp-controller="Course" asp-action="Index" class="menu-dropdown">
                        <span class="menu-text">
                            دوره ها
                        </span>
                    </a>
                </li>
                <li>
                    <a asp-area="Courses" asp-controller="CourseGroup" asp-action="Index" class="menu-dropdown">
                        <span class="menu-text">
                            گروه دوره ها
                        </span>
                    </a>
                </li>
            </ul>
        <li>

        </li>
        <li>


            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-desktop pink"></i>
                <span class="menu-text"> مدیریت پوسته </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            اسلایدرها
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="weather-icons.html">
                                <i class="fa fa-picture-o bg-yellow shiny"></i>
                                <span class="menu-text"> مشاهده اسلایدرهای فعال </span>
                            </a>
                        </li>
                        <li>
                            <a href="font-awesome.html">
                                <i class="menu-icon fa fa-plus-circle blue shiny"></i>
                                <span class="menu-text">افزودن اسلایدر جدید</span>
                            </a>
                        </li>
                        <li>
                            <a href="glyph-icons.html">
                                <i class="menu-icon fa fa-edit green shiny"></i>
                                <span class="menu-text">ویرایش اسلایدر</span>
                            </a>
                        </li>
                        <li>
                            <a href="typicon.html">
                                <i class="menu-icon fa fa-remove red shiny"></i>
                                <span class="menu-text"> حذف اسلایدر</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            بنرها
                        </span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="weather-icons.html">
                                <i class="fa fa-picture-o bg-yellow shiny"></i>
                                <span class="menu-text"> مشاهده بنرهای فعال </span>
                            </a>
                        </li>
                        <li>
                            <a href="font-awesome.html">
                                <i class="menu-icon fa fa-plus-circle blue shiny"></i>
                                <span class="menu-text">افزودن بنرهای جدید</span>
                            </a>
                        </li>
                        <li>
                            <a href="glyph-icons.html">
                                <i class="menu-icon fa fa-edit green shiny"></i>
                                <span class="menu-text">ویرایش بنرها</span>
                            </a>
                        </li>
                        <li>
                            <a href="typicon.html">
                                <i class="menu-icon fa fa-remove red shiny"></i>
                                <span class="menu-text"> حذف بنرها</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!--Widgets-->


            </ul>

        <li>
            <a asp-area="" asp-controller="Account" asp-action="Logout">
                <i class="glyphicon glyphicon-road red"></i>
                <span class="menu-text"> خروج </span>
            </a>
        </li>
    </ul>
</div>
