<!DOCTYPE html>
<html>
<head>
    <partial name="_AdminStyle" />
</head>

<body>
    <div id="wrapper">
        <partial name="_AdminNavbar"/>
        @RenderBody()
    </div>
    <partial name="_AdminScript" />
</body>
</html>
