
@{
    ViewData["Title"] = "داشبورد";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Admins" asp-controller="AdminHome" asp-action="Index">خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>

