@model CodeTo.Core.ViewModel.Accounts.AccountLoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = null;
}
<partial name="_Styles" />
<partial name="_MetaTags" />
<div class="back-to-home rounded d-none d-sm-block">
    <a asp-controller="Home" asp-action="Index">
        <button type="button" class="btn btn-icon btn-primary">
            <i data-feather="home" class="icons"></i>
        </button>
    </a>
</div>
<!-- شوع آن -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center" style="background: url('/img/bg/bg.png');">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">وارد شدن </h4>
                        <form asp-action="Login" method="post" class="login-form mt-4">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input asp-for="Email" type="email" class="form-control ps-5" placeholder="ایمیل" name="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input asp-for="Password" type="password" class="form-control ps-5" placeholder="رمز عبور " required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">

                                            <div class="text-dark fw-bold">
                                                <label asp-for="RememberMe" class="text-dark fw-bold">
                                                    <input asp-for="RememberMe" /> مرا به خاطر بسپار
                                                </label>
                                            </div>
                                        </div>



                                        <p class="forgot-pass mb-0"><a href="auth-re-password-three.html" class="text-dark fw-bold">فراموشی رمز عبور؟ </a></p>
                                    </div>
                                </div>

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary">ورود  </button>
                                    </div>
                                </div>

                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="col-12 text-center">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">حسابی ندارید؟ </small> <a asp-controller="Account" asp-action="Register" class="text-dark fw-bold">ثبت نام کنید </a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_Script" />