@model CodeTo.Core.ViewModel.Users.AccountLoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = null;
}



<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/images/favicon.ico">
<link href="/css/tobii.min.css" rel="stylesheet" type="text/css" />
<link href="/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="unicons.iconscout.com/release/v3.0.6/css/line.css"/>
<link rel="stylesheet" href="css/tiny-slider.css" />
<link href="/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
<link href="/css/colors/default.css" rel="stylesheet" id="color-opt">
<!-- شوع آن -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="bg-overlay bg-overlay-white"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">وارد شدن </h4>
                        <form asp-action="Login" method="post" class="login-form mt-4">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input asp-for="Email" type="email" class="form-control ps-5" placeholder="ایمیل" name="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input asp-for="Password" type="password" class="form-control ps-5" placeholder="رمز عبور " required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">
                                     
                                            <div class="form-check">
                                                <input asp-for="RememberMe" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">مرا به خاطر بسپار </label>
                                            </div>
                                        </div>

                                   
                                        <p class="forgot-pass mb-0"><a href="auth-re-password-three.html" class="text-dark fw-bold">فراموشی رمز عبور؟ </a></p>
                                    </div>
                                </div>

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-success">ورود  </button>
                                    </div>
                                </div>


                                <div class="col-12 text-center">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">حسابی ندارید؟ </small> <a asp-controller="Account" asp-action="Register" class="text-dark fw-bold">ثبت نام کنید </a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>