@model CodeTo.Core.ViewModel.Accounts.AccountRegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}
<partial name="_Styles">
    <!-- شوع آن -->
    <section class="bg-home bg-circle-gradiant d-flex align-items-center">
        <div class="bg-overlay bg-overlay-white"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="card login-page bg-white shadow rounded border-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">وارد شدن </h4>
                            <form asp-action="Register" method="post" class="login-form mt-4">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">نام کاربری  <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input asp-for="UserName" type="text" class="form-control ps-5" placeholder="نام کاربری">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">ایمیل  <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input asp-for="Email" type="email" class="form-control ps-5" placeholder="ایمیل" >
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input asp-for="Password" type="password" class="form-control ps-5" placeholder="رمز عبور ">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input asp-for="RePassword" type="password" class="form-control ps-5" placeholder="رمز عبور ">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-success">ثبت نام</button>
                                        </div>
                                    </div>

                                    <div asp-validation-summary="All" class="text-danger">

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

