
        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url('/images/bg/bg1.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level title-heading">
                            <h1 class="text-white title-dark"> درباره ما </h1>
                            <p class="text-white-50 para-desc mb-0 mx-auto"> فرا کد یک پلتفرم کاملا متفاوت در زمینه یادگیری و آموزش بوده تا بتواند برای کسب و کار , توسعه و نگهداری نرم افزار , فن آوری های جدید و مهارت های خلاقانه ای که شما به دنبال ان هستید به صورت حرفه ای  آموزش ببینید.</p>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="index.html">فرا کد </a></li>
                                        <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row--> 
            </div> <!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->

        <section class="section">
            <div class="container">
                <div class="row align-items-center" id="counter">
                    <div class="col-md-6">
                        <img src="/images/blog/01.jpg" class="img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-4">
                            <div class="d-flex mb-4">
                                <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" data-target="15">1500</span>+</span>
                                <span class="h6 align-self-end ms-2">مقاله <br> تخصصی </span>
                            </div>
                            <div class="section-title">
                                <h4 class="title mb-4">ما کی هستیم ؟</h4>
                                <p class="text-muted">شروع به کار با <span class="text-primary fw-bold"> لنـدریـک  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند. متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای واقعی پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متون ساختگی از قرن شانزدهم مورد استفاده حروفچینی ها قرار گرفته اند.</p>
                                <a href="javascript:void(0)" class="btn btn-primary mt-3">تماس با ما</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <br/>
            <br/>

          
 
       

