<!-- Hero Start -->
<section class="home-slider position-relative">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="bg-home d-flex align-items-center" style="height: 70vh; background-image:url('/images/bg/bg1.jpg')">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <div class="title-heading text-white mt-4">
                                    <h4 class="title para-desc para-dark mx-auto text-light"> ترکیب کامل با</h4>
                                    <h4 class="title para-desc para-dark mx-auto text-light">خودآموزی ، کسب تجربه ، مشاهده توسعه دهندگان </h4>
                                    <h4 class="title para-desc para-dark mx-auto text-light">وبلاگ ، دوره های جامع و رایگان </h4>
                                    <br />
                                    <div class="mt-4">
                                        <div class="subcribe-form">
                                            <form>
                                                <input type="text" id="course" name="name" class="rounded" placeholder=" چی میخوای یاد بگیری ؟ ">
                                                <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search fea icon-sm"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Hero End -->

<div class="container" style="max-width: 1250px;">
    <br />
    <div class="page-next col-8 ">
        <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه </a></li>
                <li class="breadcrumb-item active" aria-current="page">وبلاگ </li>
            </ul>
        </nav>
        <br />
    </div>


    <div class="row ">
        <div class="col-lg-3 col-md- col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Circleci.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">سی شارپ</h4>
                        <p class="text-muted mb-0">C#</p>
                    </div>
                </div>
            </a>

        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Codepen.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">سی پلاس پلاس</h4>
                        <p class="text-muted mb-0">C++</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Discord.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">جاوا</h4>
                        <p class="text-muted mb-0">Java</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Eslint.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">UI طراح </h4>
                        <p class="text-muted mb-0">چین</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Gitlab.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">کاتلین</h4>
                        <p class="text-muted mb-0">kotlin</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Mg.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">پایتون</h4>
                        <p class="text-muted mb-0">Paython</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Mg.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">پایتون</h4>
                        <p class="text-muted mb-0">Paython</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2">
            <a href="page-job-detail.html">
                <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                    <img src="/images/job/Mg.svg" class="avatar avatar-ex-sm" alt="">
                    <div class="flex-1 ms-3">
                        <h4 class="title mb-0 text-dark">پایتون</h4>
                        <p class="text-muted mb-0">Paython</p>
                    </div>
                </div>
            </a>
        </div><!--end col-->
        <div class="col-12 text-center mt-4 pt-2">
            <a href="page-jobs.html" class="btn btn-primary">نمیاش همه گروه ها <i class="uil uil-angle-left-b align-middle"></i></a>
        </div>
    </div>
    <br />
    <div class="page-next ">
        <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه </a></li>
                <li class="breadcrumb-item active" aria-current="page">مقالات  </li>
            </ul>
        </nav>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 mt-6">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="/images/blog/01.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top bg-dark"></div>
                </div>
                <div class="card-body content">
                    <h6><a href="javascript:void(0)" class="card-title title text-dark">برنامه های خود را به روش خود طراحی کنید</a></h6>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
                        </ul>
                        <a href="page-blog-detail.html" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i> اردیبهشت 1400</small>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 mt-6">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="/images/blog/01.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top bg-dark"></div>
                </div>
                <div class="card-body content">
                    <h6><a href="javascript:void(0)" class="card-title title text-dark">برنامه ها چگونه دنیای اطلاعات را تغییر می دهند</a></h6>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
                        </ul>
                        <a href="page-blog-detail.html" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i> اردیبهشت 1400</small>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 mt-6">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="/images/blog/01.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top bg-dark"></div>
                </div>
                <div class="card-body content">
                    <h6><a href="javascript:void(0)" class="card-title title text-dark">هوشمندترین برنامه ها برای تجارت و کار </a></h6>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
                        </ul>
                        <a href="page-blog-detail.html" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i> اردیبهشت 1400</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-3 col-md-6 mt-6">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="/images/blog/01.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top bg-dark"></div>
                </div>
                <div class="card-body content">
                    <h6><a href="javascript:void(0)" class="card-title title text-dark">هوشمندترین برنامه ها برای تجارت و کار </a></h6>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
                        </ul>
                        <a href="page-blog-detail.html" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light user d-block"><i class="uil uil-user"></i> کالوین لورس</small>
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i> اردیبهشت 1400</small>
                </div>
            </div>
        </div><!--end col-->
    </div>
    <br />
    <div class="page-next ">
        <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه </a></li>
                <li class="breadcrumb-item active" aria-current="page">برترین دوره ها</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 mt-4 pt-2">
            <div class="card courses-desc overflow-hidden rounded shadow border-0">
                <div class="position-relative d-block overflow-hidden">
                    <img src="/images/blog/01.jpg" class="img-fluid rounded-top mx-auto" alt="">
                    <div class="overlay-work bg-dark"></div>
                    <a href="javascript:void(0)" class="text-white h6 preview">نمایش آنلاین  <i class="uil uil-angle-left-b"></i></a>
                </div>

                <div class="card-body">
                    <h5><a href="javascript:void(0)" class="title text-dark">برنامه ای برای مبلغان</a></h5>
                    <div class="rating">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item">5 ستاره (3<i class="uil uil-user text-muted"></i>)</li>
                        </ul>
                    </div>
                    <div class="fees d-flex justify-content-between">
                        <ul class="list-unstyled mb-0 numbers">
                            <li><i class="mdi mdi-school text-muted"></i> 30 دانش آموز </li>
                            <li><i class="mdi mdi-book text-muted"></i> 5 درس </li>
                        </ul>
                        <h4><span class="h6">76000 </span> تومان </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 pt-2">
            <div class="card courses-desc overflow-hidden rounded shadow border-0">
                <div class="position-relative d-block overflow-hidden">
                    <img src="/images/blog/01.jpg" class="img-fluid rounded-top mx-auto" alt="">
                    <div class="overlay-work bg-dark"></div>
                    <a href="javascript:void(0)" class="text-white h6 preview">نمایش آنلاین  <i class="uil uil-angle-left-b"></i></a>
                </div>

                <div class="card-body">
                    <h5><a href="javascript:void(0)" class="title text-dark">برنامه ای برای مبلغان</a></h5>
                    <div class="rating">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item">5 ستاره (3<i class="uil uil-user text-muted"></i>)</li>
                        </ul>
                    </div>
                    <div class="fees d-flex justify-content-between">
                        <ul class="list-unstyled mb-0 numbers">
                            <li><i class="mdi mdi-school text-muted"></i> 30 دانش آموز </li>
                            <li><i class="mdi mdi-book text-muted"></i> 5 درس </li>
                        </ul>
                        <h4><span class="h6">76000 </span> تومان </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 pt-2">
            <div class="card courses-desc overflow-hidden rounded shadow border-0">
                <div class="position-relative d-block overflow-hidden">
                    <img src="/images/blog/01.jpg" class="img-fluid rounded-top mx-auto" alt="">
                    <div class="overlay-work bg-dark"></div>
                    <a href="javascript:void(0)" class="text-white h6 preview">نمایش آنلاین  <i class="uil uil-angle-left-b"></i></a>
                </div>

                <div class="card-body">
                    <h5><a href="javascript:void(0)" class="title text-dark">برنامه ای برای مبلغان</a></h5>
                    <div class="rating">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item">5 ستاره (3<i class="uil uil-user text-muted"></i>)</li>
                        </ul>
                    </div>
                    <div class="fees d-flex justify-content-between">
                        <ul class="list-unstyled mb-0 numbers">
                            <li><i class="mdi mdi-school text-muted"></i> 30 دانش آموز </li>
                            <li><i class="mdi mdi-book text-muted"></i> 5 درس </li>
                        </ul>
                        <h4><span class="h6">76000 </span> تومان </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 pt-2">
            <div class="card courses-desc overflow-hidden rounded shadow border-0">
                <div class="position-relative d-block overflow-hidden">
                    <img src="/images/blog/01.jpg" class="img-fluid rounded-top mx-auto" alt="">
                    <div class="overlay-work bg-dark"></div>
                    <a href="javascript:void(0)" class="text-white h6 preview">نمایش آنلاین  <i class="uil uil-angle-left-b"></i></a>
                </div>

                <div class="card-body">
                    <h5><a href="javascript:void(0)" class="title text-dark">برنامه ای برای مبلغان</a></h5>
                    <div class="rating">
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star h5 mb-0 text-warning"></i></li>
                            <li class="list-inline-item">5 ستاره (3<i class="uil uil-user text-muted"></i>)</li>
                        </ul>
                    </div>
                    <div class="fees d-flex justify-content-between">
                        <ul class="list-unstyled mb-0 numbers">
                            <li><i class="mdi mdi-school text-muted"></i> 30 دانش آموز </li>
                            <li><i class="mdi mdi-book text-muted"></i> 5 درس </li>
                        </ul>
                        <h4><span class="h6">76000 </span> تومان </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->

</div>