<!-- Hero Start -->

<section class="bg-half-260 d-table w-100" id="home" style="background: url('img/bg/home-bg.png')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="title-heading mt-4">
                    <h1 class="heading mb-3"> <span class="text-primary"> ترکیب کامل  </span>  با آزمون و<br>  آموزش در  فراکد </h1>
                    <p class="para-desc text-muted">خودتو در برنامه نویسی به چالش بکش !!</p>
                   

                    <div class="mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-pills btn-primary"> ورود به آزمون </a>
                         <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><i class="uil uil-user align-middle"></i></a><span class="fw-bold text-uppercase small align-middle ms-1">وارد شوید  </span> 
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="img/bg/seo.gif" class="img-fluid" alt="">
                <div class="subcribe-form mt-3 pt-2">
                    <form asp-controller="Blog" asp-action="Index" method="get">
                        <input type="text" name="FilterTitle" class="rounded" placeholder=" چی میخوای یاد بگیری ؟ ">
                        <button type="submit" class="btn btn-primary"><i data-feather="search" class="fea icon-sm"></i></button>
                    </form>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

<section class="py-4 mb-4 " >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2 ">
                <a asp-controller="Blog" asp-action="Index">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow  ">
                        <img src="/img/job/Codepen.svg" class="avatar avatar-ex-sm" alt="">
                        <div class="flex-1 ms-3">
                            <h4 class="title mb-2 text-dark"> آزمون برنامه نویسی</h4>
                            <p class="text-muted mb-0">Programing test</p>
                        </div>
                    </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2 ">
                <a asp-controller="Blog" asp-action="Index">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow  ">
                        <img src="/img/job/Discord.svg" class="avatar avatar-ex-sm" alt="">
                        <div class="flex-1 ms-3">
                            <h4 class="title mb-2 text-dark">بلاگ فراکد</h4>
                            <p class="text-muted mb-0">FaraaCode blog</p>
                        </div>
                    </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2 ">
                <a asp-controller="Blog" asp-action="Index">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow ">
                        <img src="/img/job/Eslint.svg" class="avatar avatar-ex-sm" alt="">
                        <div class="flex-1 ms-3">
                            <h4 class="title mb-2 text-dark">دوره های آموزشی </h4>
                            <p class="text-muted mb-0">Education Courses</p>
                        </div>
                    </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-6 mt-6 pt-2 ">
                <a asp-controller="Blog" asp-action="Index">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow ">
                        <img src="/img/job/Gitlab.svg" class="avatar avatar-ex-sm" alt="">
                        <div class="flex-1 ms-3">
                            <h4 class="title mb-2 text-dark">سرگرمی </h4>
                            <p class="text-muted mb-0">Entertainment</p>
                        </div>
                    </div>
                </a>
            </div><!--end col-->
        </div>
    </div><!--end col-->
</section>
<div class="container mb-4 pb-2 ">


    @await Component.InvokeAsync("ShowRecentArticlesComponent")

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->

</div>