

<!-- Hero Start -->
<section class="home-slider position-relative">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="bg-home d-flex align-items-center" style="background-image:url('images/digital/bg02.jpg')">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <div class="title-heading text-white mt-4">
                                    <h1 class="display-4 title-dark fw-bold mb-3">شما می توانید هر چیزی را با ما یاد بگیرید</h1>
                                    <p class="para-desc para-dark mx-auto text-light">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت صفحه بوت استرپ v5 html تبدیل محور بهره مند شوید.</p>
                                    <div class="mt-4">
                                        <a href="#courses" class="btn btn-primary mt-2"><i class="uil uil-book-open"></i> جستجوی دوره</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->
