
@model Tuple<CodeTo.Core.ViewModel.Permission.RolePermissionAddOrEditViewModel,List<CodeTo.Core.ViewModel.Permission.PermissionsViewModel>>

@{
    ViewData["Title"] = (Model.Item1.RoleId == 0 ? "افزودن" : $" ویرایش");
}
<title>@ViewData["Title"]</title>
<div class="page-body">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-danger">
                    <span class="widget-caption">افزودن نقش </span>
                </div>
                <div class="widget-body">
                    <form asp-action="@(Model.Item1.RoleId == 0 ? "Add" : "Edit")">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Item1.RoleName" class="control-label"></label>
                            <input asp-for="Item1.RoleName" class="form-control" />
                            <span asp-validation-for="Item1.RoleName" class="text-danger"></span>
                        </div>

                        @if (Model.Item1.RoleId != 0)
                        {
                            <input type="hidden" asp-for="Item1.RoleId" />

                            <div class="form-group">
                                <input type="submit" value="Edit" class="btn btn-warning" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-success" />
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">دسترسی ها</span>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 widget-body">
                    <form >
                        <div class="">
                           
                               @foreach (var per in Model.Item2)
                               {


                                   <div class="task-check">
                                       <label>
                                           <input type="checkbox" value="@per.PermissionTitle">
                                           <span class="text"> @per.PermissionTitle</span>
                                       </label>
                                   </div>
                                
                               }
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>