@model CodeTo.Core.ViewModel.Users.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="col-lg-8 col-12">
    <div class="card border-0 rounded shadow">
        <div class="card-body">
            <div class="col-md-6 mt-4 pt-2">
                <h5>تغییر رمز عبور : </h5>
                <form asp-action="ChangePassword" method="post">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="OldPassword" :></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                    <input asp-for="OldPassword" type="password" class="form-control ps-5" placeholder="رمز قدیمی" required="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="Password" :></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                    <input asp-for="Password" type="password" class="form-control ps-5" placeholder="رمز جدید" required="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="RePassword" :></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                    <input type="password" class="form-control ps-5" asp-for="RePassword" placeholder="رمز عبور جدید" required="">
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="col-lg-12 mt-2 mb-0">
                            <button class="btn btn-primary">ذخیره رمز عبور </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
