<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" style="background: url('/images/bg/bg1.jpg');">
    <div class="bg-overlay"> </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h6 class="title para-desc para-dark mx-auto text-light"> مقالات آموزشی در فراکد یکی از بخش های جذاب برای کسانی است که میخواهند، اطلاعات خود را در زمینه برنامه نویسی و طراحی وب بروز نگه دارند. برای تبدیل شدن به یک برنامه نویس و یا حتی یک فریلنسر قدرتمند در این بخش اطلاعات خود را بروز نگه دارید. </h6>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">فرا کد </a></li>
                                <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">وبلاگ </a></li>
                                <li class="breadcrumb-item active" aria-current="page">مقالات</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div>
</section>
<!-- Hero End -->
<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->