
<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">
                <img src="images/logo-dark.png" height="24" alt="">
            </a>
        </div>
        <div class="buy-button">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="UserPanels" asp-controller="UserPanelHome" asp-action="Index"
                   class="uil-user  btn btn-icon btn-lg btn-primary mt-2"></a>

                <a asp-controller="Account" asp-action="Logout" class="uil-sign-out-alt btn btn-icon btn-lg btn-outline-primary mt-2"></a>
                if (User.Identity.Name == "Admin")
                {
                    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index"
                       class="uil-book  btn btn-icon btn-lg btn-primary mt-2"></a>
                }
            }
            else
            {
                <div class="buy-button">
                    <a asp-controller="Account" asp-action="Login">
                        <div class="btn btn-primary login-btn-primary">ورود  </div>
                        <div class="btn btn-light login-btn-light">ورود </div>
                    </a>
                    <a asp-controller="Account" asp-action="Register">
                        <div class="btn btn-primary login-btn-primary"> ثبت نام </div>
                        <div class="btn btn-light login-btn-light"> ثبت نام </div>
                    </a>
                </div>

            }
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-light">
                <li><a  asp-area="" asp-controller="Home" asp-action="Index" class="sub-menu-item">صفحه اصلی </a></li>
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">مقالات  </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)">وب</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-aboutus.html" class="sub-menu-item">Asp.net Core</a></li>
                                 <li><a href="page-services.html" class="sub-menu-item">Asp.net MVC </a></li>
                                <li><a href="page-aboutus-two.html" class="sub-menu-item">PHP</a></li>
                                <li><a href="page-history.html" class="sub-menu-item">تاریخچه </a></li>
                                <li><a href="page-team.html" class="sub-menu-item"> تیم </a></li>
                                <li><a href="page-pricing.html" class="sub-menu-item">قیمت گذاری </a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)"> حساب کاربری  </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="account-profile.html" class="sub-menu-item">پروفایل </a></li>
                                <li><a href="account-members.html" class="sub-menu-item">اعضا  </a></li>
                                <li><a href="account-works.html" class="sub-menu-item">کارها</a></li>
                                <li><a href="account-messages.html" class="sub-menu-item">پیام ها </a></li>
                                <li><a href="account-payments.html" class="sub-menu-item">پرداخت ها  </a></li>
                                <li><a href="account-setting.html" class="sub-menu-item">تنظیمات </a></li>
                                <li><a href="page-invoice.html" class="sub-menu-item">صورتحساب </a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)"> فروشگاه </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="shop-grids.html" class="sub-menu-item">گرید محصولات </a></li>
                                <li><a href="shop-lists.html" class="sub-menu-item">محصولات لیستی </a></li>
                                <li><a href="shop-product-detail.html" class="sub-menu-item">جزئیات محصول </a></li>
                                <li><a href="shop-cart.html" class="sub-menu-item">سبد خرید </a></li>
                                <li><a href="shop-checkouts.html" class="sub-menu-item">پرداختی ها </a></li>
                                <li><a href="shop-myaccount.html" class="sub-menu-item">حساب من </a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)"> مرکز پشتیبانی </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="helpcenter-overview.html" class="sub-menu-item">مرکز ارتباط </a></li>
                                <li><a href="helpcenter-faqs.html" class="sub-menu-item">گفت و گو </a></li>
                                <li><a href="helpcenter-guides.html" class="sub-menu-item">راهنماها </a></li>
                                <li><a href="helpcenter-support-request.html" class="sub-menu-item">پشتیبانی تماسی </a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </li>
                <li class="has-submenu parent-menu-item">
                    <a href="javascript:void(0)">دوره ها</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="documentation.html" class="sub-menu-item">مستند </a></li>
                        <li><a href="changelog.html" class="sub-menu-item">تغییرات </a></li>
                        <li><a href="components.html" class="sub-menu-item">اجزاء </a></li>
                        <li><a href="widget.html" class="sub-menu-item">ابزارک </a></li>
                    </ul>
                </li>
                 <li><a  asp-area="" asp-controller="Home" asp-action="About" class="sub-menu-item"> درباره ما</a></li>
            </ul><!--end navigation menu-->
           <!--end login button-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->