<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">
                <img src="images/logo-dark.png" height="24" alt="">
            </a>
        </div>
        <div class="buy-button">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="UserPanels" asp-controller="UserPanelHome" asp-action="Index"
               class="uil-user  btn btn-icon btn-lg btn-primary mt-2"></a>

                <a asp-controller="Account" asp-action="Logout" class="uil-sign-out-alt btn btn-icon btn-lg btn-outline-primary mt-2"></a>
                if (User.Identity.Name == "Admin")
                {
                    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index"
               class="uil-book  btn btn-icon btn-lg btn-primary mt-2"></a>
                }
            }
            else
            {
                <div class="buy-button">
                    <a asp-controller="Account" asp-action="Login">
                        <div class="btn btn-primary login-btn-primary">ورود  </div>
                        <div class="btn btn-light login-btn-light">ورود </div>
                    </a>
                    <a asp-controller="Account" asp-action="Register">
                        <div class="btn btn-primary login-btn-primary"> ثبت نام </div>
                        <div class="btn btn-light login-btn-light"> ثبت نام </div>
                    </a>
                </div>

            }
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-light">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="sub-menu-item">صفحه اصلی </a></li>
                @await Component.InvokeAsync("ShowArticleGroups")
                @await Component.InvokeAsync("ShowCourseGroups")
                <li><a asp-area="" asp-controller="Home" asp-action="About" class="sub-menu-item"> درباره ما</a></li>
            </ul><!--end navigation menu-->
            <!--end login button-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->