@model PermissionCreateorEditeViewModel
@{
    ViewData["Title"] = "ویرایش نقش";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Admins" asp-controller="AdminHome" asp-action="Index">خانه</a>
        </li>
        <li class="active"><a asp-area="Admins" asp-controller="Role" asp-action="EditRole">مدیریت نقش ها</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>

<div style="margin: 2%">
    <h2> ویرایش نقش</h2>
    <form asp-action="EditRole" method="post" autocomplete="off" asp-antiforgery="true" >
        <input asp-for="Id" type="hidden" />
        <div class="col-md-8">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-azure">
                    <span class="widget-caption" style="font-size: large">ویرایش نقش </span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">

                        <div class="form-title">
                            اطلاعات نقش
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input asp-for="Title" type="text" class="form-control" placeholder="نام نقش">
                                <i class="glyphicon glyphicon-user blue circular"></i>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-blue">ثبت تغییرات</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-danger">
                    <span class="widget-caption" style="font-size:  large">درج تصویر</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <div class="form-title">
                           دسترسی ها
                        </div>
                       </div>
                </div>
            </div>
        </div>
    </form>
</div>

