@model  WalletHistoryViewModel
@{
    ViewData["Title"] = "کیف پول";

}

<form asp-action="Index" class="form-checkout" enctype="multipart/form-data" method="post">
    <div class="form-checkout-row">
        <label asp-for="Amount">مبلغ </label>
        <input asp-for="Amount" type="number" class="input-num-checkout form-control">
        <div class="AR-CR">
            <button class="btn-registrar"> شارژ حساب </button>
        </div>
    </div>
</form>

@{
    List<WalletHistoryViewModel> hs;
    hs = ViewBag.ShowHistory as List<WalletHistoryViewModel>;
}
<div class="table-responsive bg-white shadow rounded">
    <table class="table mb-0 table-center invoice-tb">
        <thead class="bg-light">
            <tr>
                <th scope="col" class="border-bottom text-start">ردیف </th>
                <th scope="col" class="border-bottom text-start">مورد </th>
                <th scope="col" class="border-bottom">تعداد </th>
                <th scope="col" class="border-bottom">قیمت</th>
                <th scope="col" class="border-bottom">مجموع </th>
            </tr>
        </thead>
        <tbody>



        @{
            System.Diagnostics.Debug.Assert(hs != null, nameof(hs) + " != null");
        }
        @foreach (var item in hs)
        {
            <tr>
                <td>@item.Amount?.ToString("#,0 تومان")</td>
                <td>
                    @if (item.TypeId == 1)
                    {
                        <p class="text text-success">واریز</p>
                    }
                    else
                    {
                        <p class="text text-danger">برداشت</p>
                    }
                </td>
                <td>@item.Creatdate.ToShamsi()</td>

                <td>@item.Description</td>
            </tr>
        }
           
        </tbody>
    </table>
</div>

