@model IEnumerable<CodeTo.Core.ViewModel.CourseGroups.CourseGroupIndexViewModel>

<li class="has-submenu parent-menu-item">
    <a href="javascript:void(0)">دوره ها</a><span class="menu-arrow"></span>
    <ul class="submenu">

        @foreach (var group in Model)
        {
            <li><a href="widget.html" class="sub-menu-item">@group.Title </a></li>
        }
    </ul>
</li>
