@model IEnumerable<CodeTo.Core.ViewModel.ArticleGroups.ArticleGroupIndexViewModel>
<li class="has-submenu parent-parent-menu-item">
    <a href="javascript:void(0)">مقالات  </a><span class="menu-arrow"></span>
    <ul class="submenu">
        

        @foreach(var group in Model.Where(g=>g.ParentId==null))
        {
            <li class="has-submenu parent-menu-item">
            <a href="javascript:void(0)"> @group.Title </a><span class="submenu-arrow"></span>
            <ul class="submenu">
                @if(Model.Any(g=>g.ParentId==group.Id))
               @foreach(var category in Model.Where(g=>g.ParentId==group.Id))
                {
                     <li><a href="account-works.html" class="sub-menu-item">@category.Title</a></li>
                }
            </ul>
        </li>
        }
    </ul>
</li>