@model CodeTo.Core.ViewModel.Articles.ClientArticleViewModel
<div class="card blog blog-detail border-0 shadow rounded">
    <img src="@Model.ArticleFullName" class="img-fluid rounded-top" alt="">
    <div class="card-.body content">
        <h6><i class="mdi mdi-tag text-primary me-1"></i><a href="javscript:void(0)" class="text-primary">@Model.ArticleTitle</a>, <a href="javscript:void(0)" class="text-primary"> @Model.ArtileGroupTitle </a></h6>
        <p class="text-muted mt-3">@Model.ArticleDescription</p>
        <div class="post-meta mt-3">
            <ul class="list-unstyled mb-0">
                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a></li>
                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
            </ul>
        </div>
    </div>
</div>